<footer id="contacts" class="relative mt-[50px] bg-secondary pt-[50px] sm:mt-[120px] sm:pt-[60px]">
  <img src="./img/ship.webp" alt="Російський військoвий корабель, іде наx*й" class="absolute -right-32 top-[calc(50%-10px)] hidden -translate-y-1/2 lg:block xl:right-20" />
  <div class="container relative z-10">
    <div class="pb-6 sm:pb-[70px]">
      <div class="flex flex-col divide-[#053A54] max-lg:divide-y lg:flex-row lg:divide-x">
        <div class="max-lg:pb-[40px] lg:pr-[55px] max-sm:text-center">
          <h2 class="mb-[30px] text-2xl font-bold !leading-relaxed text-white sm:text-4xl">Наші контакти</h2>
          <div class="mb-[21px] flex items-center max-sm:justify-center max-sm:text-center space-x-[15px] sm:mb-[30px]">
            <svg class="size-8 text-white">
              <use href="./sprites/sprite.svg#icon-location"></use>
            </svg>
            <p class="text-base font-semibold text-white sm:text-xl">Адресса: м. Київ, вул. Студенческа, 3</p>
          </div>
          <p class="mb-[20px] text-sm !leading-snug text-white sm:mb-[35px] sm:text-lg">Готові проконсультувати Вас в будь - який час і приступити до роботи в найкоротші терміни</p>
          <a
            href="#"
            class="inline-flex h-[49px] space-x-3 items-center justify-center rounded-[2px] border border-transparent bg-primary px-[10px] text-sm font-semibold text-typo transition-colors hover:border-primary hover:bg-transparent hover:text-white sm:h-[60px] sm:space-x-2.5 sm:px-[15px] sm:text-base">
            <svg class="size-6 ">
              <use href="./sprites/sprite.svg#icon-tg"></use>
            </svg>
            <span>Написати в Telegram</span></a
          >
        </div>
        <div class="max-lg:pt-[40px] lg:pl-[55px]">
          <h2 class="mb-5 text-2xl font-bold !leading-relaxed max-sm:text-center text-white sm:text-4xl">Російський військoвий корабель, іде наx*й</h2>
          <div class="flex max-sm:justify-center">
             <a
               href="#"
               class="inline-flex h-[49px] items-center justify-center rounded-[2px] border border-transparent bg-[#61DB99] px-[10px] text-sm font-semibold uppercase text-typo transition-colors hover:border-[#61DB99] hover:bg-transparent hover:text-white sm:h-[60px] sm:space-x-2.5 sm:px-[34px] sm:text-base">
               Допомога ЗСУ
             </a>
          </div>
          <img src="./img/ship.webp" alt="Російський військoвий корабель, іде наx*й" class="block max-lg:mx-auto lg:hidden max-w-[344px] " />
        </div>
      </div>
    </div>
    <div>
      <p class="border-t border-[#053A54] py-[25px] text-center text-base !leading-snug text-white sm:py-[30px] sm:text-lg">©UristCompany - Всі права захищені</p>
    </div>
  </div>
</footer>
