<header class="bg-white py-[22px] flex items-center relative z-10">
  <div class="flex flex-wrap gap-y-3 space-x-3 items-center justify-between container">
    <a href="#">
      <img src="./img/header-logo.svg" alt="Logo" class="w-[140px] h-[31px] lg:w-[228.5px] lg:h-[45px] object-contain">
    </a>
    <nav class="hidden lg:block">
      <ul class="flex space-x-[30px]">
        <li>
          <a href="#services" class="text-base  text-typo hover:text-primary transition-colors">Послуги</a>
        </li>
        <li>
          <a href="#about" class="text-base  text-typo hover:text-primary transition-colors">Про нас</a>
        </li>
        <li>
          <a href="#comments"  class="text-base  text-typo hover:text-primary transition-colors">Відгуки</a>
        </li>
        <li>
          <a href="#contacts"  class="text-base  text-typo hover:text-primary transition-colors">Контакти</a>
        </li>
      </ul>
    </nav>
    <img src="./img/info-label.svg" alt="Консультація 24/7" class="hidden xl:block">
    <a
      href="#"
      class="inline-flex sm:space-x-2.5 items-center justify-center rounded-[2px] border border-transparent bg-primary text-sm sm:text-base font-semibold text-typo transition-colors hover:border-primary hover:bg-white hover:text-primary h-[49px] sm:h-[60px] px-[10px] sm:px-[15px]"
      >
        <svg class='size-6 hidden sm:block'>
          <use href='./sprites/sprite.svg#icon-tg'></use>
        </svg>
      <span>Написати в Telegram</span></a
    >
  </div>
</header>