<div class="popup pointer-events-none invisible fixed inset-0 z-[9999] h-full w-full bg-black/70 opacity-0 transition-all [&.is-open]:pointer-events-auto [&.is-open]:visible [&.is-open]:opacity-100" id="popup" aria-hidden="true">
  <div data-micromodal-close class=" flex h-full w-full items-center justify-center ">
    <div data-micromodal-close>
       <div class="w-full max-w-[97%] mx-auto relative rounded-xl bg-white" role="dialog" aria-modal="true">
         <button data-micromodal-close class="absolute right-1 top-1 z-10 p-2" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="pointer-events-none size-7 text-white">
               <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
             </svg>
         </button>
         <div id="video-holder"></div>
       </div>
    </div>
  </div>
</div>
